<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<app version="1">
	<name>Susamune Launcher {{ region }}</name>
	<author>Nintendont authors, panther03</author>
	<version>{{ version }}</version>
	<release_date>2026</release_date>
	<short_description>launcher for SMS practice</short_description>
	<long_description>That's right it's a launcher. It does one thing.
    FOR {{ region }} ONLY!!! </long_description>
<ahb_access/>
<arguments>
<arg>di:</arg> <!-- Load from real disc -->
<!-- If you want to load from SD instead, comment above, uncomment below and provide a path e.g. -->
<!-- <arg>sd:/games/{{ disc_name }}.iso</arg> -->
<!-- or USB  -->
<!-- <arg>usb:/games/{{ disc_name }}.iso</arg> -->
<!-- NOTE: ORDER OF THE FOLLOWING ARGUMENTS IS IMPORTANT HERE !! Don't change! --> 
<arg>--cheats</arg> 
<arg>--noIPL</arg>
</arguments>
</app>
